@charset "utf-8";
@font-face {
    /* font-properties */
    font-family:chinesefonts;
    src:url('../font/古典明朝体.otf'),
    url('../font/古典明朝体.ttf'),
    url('../font/古典明朝体.eot'); /* IE9 */
}
@font-face {
    /* font-properties */
    font-family: optima;
    src:url('../font/Optima.ttf'),
    url('../font/Optima.otf'),
    url('../font/Optima.eot'); /* IE9 */
}

* {
	margin:0px; 
	padding:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html { 
	font-size: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}
a,button,input{ 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
    box-shadow: none;
    outline:none;
}
button {
    background: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    user-select: none;
}
img::selection {
    background: none;
    text-shadow: none;
}
#nav ul li a::selection {
    background: none;
    text-shadow: none;
}
.zcool a::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
span::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
#main-wrapper {
	width: 100%;
    height: 100%;
	background-size:cover;
	position: absolute;
	top: 50%;
	margin-top: -170px;
}
#web_bg img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    z-index: -9999;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    background-position: center 0 !important;
    text-align: center !important;
}

.production_info {
	opacity:0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transform: scale(1);
    transition: all 0.4s ease 0s;
    -webkit-transform: scale(1);
    -webkit-transform: all 0.4s ease 0s;
    z-index: 99999;
}
.item {
	opacity:1;
}

.production_info span {
	float: left;
	display: inline-block;
	width: 100%;
	font-size:14px;
	color: #fff;
}
.info_text {
	width: 100%;
	padding: 0 20px;
	position: absolute;
	bottom: 20px;
}
.porduction_classification {
	font-size:12px !important;
	padding-top: 6px;
}

#main {
	width:100%;
	margin:auto;
	z-index:0;
}




a,a:hover{border:none;text-decoration:none;}
img,a img{border:none;}
pre{overflow-x:scroll;background:#ffffff;border:1px solid #cecece;padding:10px;}
.clear{clear:both;}
.zoomed > .container{-webkit-filter:blur(3px);filter:blur(3px);}


@media (min-width:768px) {
		html, body {
		    height: 100%;
		    overflow-x: hidden;
		    overflow-y: hidden;
		}		
		.item a :hover {
			opacity:1;
			transform: scale(1);
		    transition: all 1s ease 0s;
		    -webkit-transform: scale(1);
		    -webkit-transform: all 1s ease 0s;
		}		
		.item a:hover img {
		    filter: blur(2px);
		    transform: scale(1.1);
		    transition: all 1s ease 0s;
		    -webkit-transform: scale(1.2);
		    -webkit-transform: all 1s ease 0s;
		}		
}
@media (max-width:768px) {
		body {
			overflow-y: scroll !important;
			-webkit-overflow-scrolling: touch !important;
　　　　		overflow-scrolling: touch !important;
		}
		#main-wrapper {
			top: 82px;
		}
		#main {	
			width:100%;
			padding:0 40px;
		}
		#gallery2 {
			width:100% !important;	
		}
		#gallery2 a {
			float:none;
    		display: block;
			margin: auto;
			margin-bottom:20px;
			width:100%;
		}
		#gallery2 a img {
			width:100%;	
		}
		#gallery2 a span{
			width:100%;	
			padding-left:10px;
		}
		#main-wrapper {
			position: relative;
			margin-top: 0;
		}
		.item {
			display: block !important; 
			padding-bottom: 20px !important;
			border-radius: 20px !important;
			margin: 0 !important;
		}
		.item, .gap {
			width: 100% !important;
			height: 100% !important;
		}
		.item a {
			border-radius: 20px !important;
		}
		.item img {
			width: 100% !important;
			height: 100% !important;
			border-radius: 20px !important;
		}		
		.portfolio-items {
			height: 100% !important;
			overflow-y: hidden !important;
			padding: 0 !important;
			-webkit-overflow-scrolling: touch !important;
			margin-top: 0px !important;
		}
		.production_info {
			border-radius: 20px !important;
		}
		.controls {
			display: none !important;
		}
		::-webkit-scrollbar {
			display: none !important;
		}
		element {　　

		　　　　-webkit-overflow-scrolling: touch;

		}
		div.menu-bg {
		}
    }

    