@charset "utf-8";
@font-face {
    /* font-properties */
    font-family: chinesefonts;
    src: url('../font/古典明朝体.otf'), url('../font/古典明朝体.ttf'), url('../font/古典明朝体.eot');
    /* IE9 */
}

@font-face {
    /* font-properties */
    font-family: optima;
    src: url('../font/Optima.ttf'), url('../font/Optima.otf'), url('../font/Optima.eot');
    /* IE9 */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Controls
---------------------------------------------------------------------- */

.shot-subnav {
    background: #fff;
    padding: 20px 30px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.controls {
    /* padding: 0 41px; */
    /* height: 24px;
    line-height: 24px;
    margin-bottom: 8px; */
    display: inline-block;
}

.control {
    padding: 0px 30px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #cdcdcd;
    float: left;
    display: block;
    text-align: center;
    /*font-family: chinesefonts;*/
}

.control:hover {
    color: #303030 !important;
    font-weight: 500;
    /* border-bottom: 1px solid #333; */
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    color: #303030 !important;
    font-weight: 500;
    /* border-bottom: 1px solid #333; */
}

.mixitup-control-active[data-filter]:after {
    color: #303030 !important;
    font-weight: 500;
    /* border-bottom: 1px solid #333; */
}

.control:first-of-type {}

.control:last-of-type {}

.control[data-filter]+.control[data-sort] {}


/* Container
---------------------------------------------------------------------- */

.container {
    /* width: 1180px; */
    margin: auto;
    height: 100%;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}


/* Grid Items
---------------------------------------------------------------------- */

.item {
    background: #fff;
    position: relative;
    margin: 1px;
}

.item:before {
    display: inline-block;
}

.item a {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.item img {
    width: 100%;
    transform: scale(1);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1);
    -webkit-transform: all 1s ease 0s;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */


/* 2 Columns */

.item,
.gap {
    width: 280px;
    height: 254px;
}


/* 3 Columns */

* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    list-style-type: none
}

a {
    color: inherit;
    text-decoration: none
}

a.link {
    color: #C4290D
}

.demo-wrapper {
    width: 100%;
}

.portfolio-items {
    /* overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap; */
    position: relative;
    /* padding: 0 40px; */
    margin-top: 12px;
    font-size: 0;
    height: 100%;
}

.portfolio-items>li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 0;
    float: left;
    border: 10px solid #fff;
}

.item {
    position: relative;
}

.falldown {
    top: 0;
    opacity: 1;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    padding: 0;
}

figure {
    width: 100%;
    height: 100%
}

.view {
    overflow: hidden;
    width: 100%;
    height: 190px;
    position: relative
}

.view img {
    width: 300px;
    height: 190px;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
    position: absolute
}

figcaption {
    height: 60px;
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    opacity: 0
}

figcaption p {
    line-height: 25px !important;
    font: bold 12px/18px "Arial", sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 5px 0;
    width: 100%;
    background-color: #f0f0f0;
    color: #333
}

figcaption span {
    left: -100%;
    opacity: 0
}

figcaption a {
    color: #CC320F
}

.date {
    z-index: 1;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    background-color: #CC320F;
    position: absolute;
    bottom: 30px;
    left: 15px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    -o-transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -ms-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92)
}

@keyframes slideOut {
    0% {
        left: -100%;
        opacity: 0
    }
    95% {
        left: 0;
        opacity: 0.2
    }
    100% {
        opacity: 1;
        left: 0
    }
}

@keyframes show {
    to {
        opacity: 1
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    cursor: pointer
}

::-webkit-scrollbar-track {
    background-color: rgba( 0, 0, 0, 0);
    margin: 0 41px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

@-webkit-keyframes slideOut {
    0% {
        left: -100%;
        opacity: 0
    }
    95% {
        left: 0;
        opacity: 0.2
    }
    100% {
        opacity: 1;
        left: 0
    }
}

@-o-keyframes slideOut {
    0% {
        left: -100%;
        opacity: 0
    }
    95% {
        left: 0;
        opacity: 0.2
    }
    100% {
        opacity: 1;
        left: 0
    }
}

@-webkit-keyframes show {
    to {
        opacity: 1
    }
}

@-o-keyframes show {
    to {
        opacity: 1
    }
}